* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Be Vietnam Pro';
    color: #121826;
    font-weight: 400;
    font-size: 1rem;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: #F8FAFC;
    border-bottom: 1px solid #E5E7EB;
}
header div{
    width: 40%;
    color: #4D5562;
}
h1{
    font-weight: 700;
    font-size: 2rem;
    color: #121826;
    margin: 10px;

}

table {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    overflow: hidden;
    border-spacing: 0;
}

th{
    min-width: 150px;
    padding: 50px 20px;
}
.type{
    font-weight: 500;
    color: #263FA9;
    font-size: 1rem;

}
.price{
    font-size: 4rem;
    margin: 5px 0;
}
.time{
    font-weight: 500;
    color: #4D5562;
    font-size: 1rem;
}

.popular{
    background-color: #121826;
    color: #F8FAFC;
}
thead .popular{
    border-radius: 1rem 1rem 0 0;
}
.popular .type{
    display: inline-block;
    color: #F8FAFC;
    background-color: #263FA9;
    padding: 2px 10px;
    border-radius: 10px;
}
.popular .time{
    color: #F8FAFC;
}

td{
    text-align: center;
    border-bottom: 1px solid #4D556233;
    padding: 10px;
}

.info{
    background-color: #F8FAFC;
    text-align: left;
    font-weight: 600;
    padding: 10px 20px;
}
tr:first-child .info {
    border-top-left-radius: 1rem;
}
tr:nth-child(8) .info {
    border-bottom-left-radius: 1rem;
}

.started td{
    border-bottom: none;
    padding: 30px;
}
td a{
    text-decoration: none;
    color:#263FA9;
    font-weight: 600;
}
.started img{
    position: relative;
    bottom: -0.4rem;
}
.started .popular {
    background-color: #7C4F1E;
    border-radius: 0 0 1rem 1rem;
}

.started .popular a{
    color: #F8FAFC;
}
a:hover{
    cursor:pointer;
}







@media (max-width: 1024px) {
    header div{
        width: 50%;
    }
    th:nth-child(2), td:nth-child(2) {
        display: none;
    }
}

@media (max-width: 640px) {
    header div {
        width: 90%;
    }
    th:nth-child(2), td:nth-child(2),
    th:nth-child(3), td:nth-child(3) {
        display: none;
    }
}









.author-info {
    font-size: 14px;
    text-align: center;
    color: rgb(55, 65, 81);

    width: 100%;
}

.author-info a {
    text-decoration: none;
}